################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LetsDoIt.Moody/.vs
/LetsDoIt.Moody/LetsDoIt.Moody.sln.DotSettings.user
/LetsDoIt.Moody/src/Application/LetsDoIt.Moody.Application/bin
/LetsDoIt.Moody/src/Application/LetsDoIt.Moody.Application/obj
/LetsDoIt.Moody/src/Domain/LetsDoIt.Moody.Domain/bin
/LetsDoIt.Moody/src/Domain/LetsDoIt.Moody.Domain/obj
/LetsDoIt.Moody/src/Infrastructure/LetsDoIt.Moody.Infrastructure/bin
/LetsDoIt.Moody/src/Infrastructure/LetsDoIt.Moody.Infrastructure/obj
/LetsDoIt.Moody/src/Persistance/LetsDoIt.Moody.Persistance/bin
/LetsDoIt.Moody/src/Persistance/LetsDoIt.Moody.Persistance/obj
/LetsDoIt.Moody/src/Web/LetsDoIt.Moody.Web/bin
/LetsDoIt.Moody/src/Web/LetsDoIt.Moody.Web/obj
/LetsDoIt.Moody/tests/Application.IntegrationTests/LetsDoIt.Moody.Application.IntegrationTests/bin
/LetsDoIt.Moody/tests/Application.IntegrationTests/LetsDoIt.Moody.Application.IntegrationTests/obj
/LetsDoIt.Moody/tests/Application.UnitTests/LetsDoIt.Moody.Application.UnitTests/bin
/LetsDoIt.Moody/tests/Application.UnitTests/LetsDoIt.Moody.Application.UnitTests/obj
/LetsDoIt.Moody/tests/Domain.UnitTests/LetsDoIt.Moody.Domain.UnitTests/bin
/LetsDoIt.Moody/tests/Domain.UnitTests/LetsDoIt.Moody.Domain.UnitTests/obj
/LetsDoIt.Moody/tests/Web.UnitTests/LetsDoIt.Moody.Web.UnitTests/obj
/LetsDoIt.Moody/tests/Web.UnitTests/LetsDoIt.Moody.Web.UnitTests/bin
